<div class="row">
  <div class="col-md-6">
    <h2><i class="fa fa-users"></i> Clients</h2>
  </div>
  <div class="col-md-6">
    <h5 class="pull-right text-muted">Total Owed: {{ totalOwed | currency:"USD":true }}</h5>
  </div>
</div>

<table *ngIf="clients?.length > 0" class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client?.$key }}</td>
      <td>{{ client?.firstName + ' ' + client?.lastName }}</td>
      <td>{{ client?.email }}</td>
      <td>{{ client?.balance | currency:"USD":true }}</td>
      <td><a class="btn btn-default" [routerLink]="['clients/' + client.$key]" ><i class="fa fa-arrow-circle-o-right"></i> Details</a></td>
    </tr>
  </tbody>
</table>

<ng-template *ngIf="clients?.length === 0">
  <hr>
  <h2>No Clients</h2>
  <hr>
</ng-template>